body {
    font-family: Arial, sans-serif;
    background-color: #fff0f5;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #c2185b;
}

table {
    width: 80%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

thead {
    background-color: #e26cb1;
    color: #000;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    background-color: #fce4ec;
    transition: background-color 0.3s;
}

tbody tr:nth-child(even) {
    background-color: #f8bbd0;
}

tbody tr:hover {
    background-color: #f06292;
    color: white;
}

tfoot {
    background-color: #e26cb1;
    color: #000;
    font-weight: bold;
}

tfoot td {
    text-align: right;
}

a {
    text-decoration: none;
    color: #880e4f;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
}